
.section{
    background-color: var(--navbar-bg-color);
    display : flex;
    align-items : center;
    gap : 20px;
}

.section_left{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width : 60%;
    gap : 20px
}

.section_left_info{
    display : flex;
    flex-direction: column;
    justify-content: center;
}

.section_tagline{
    color : var(--navbar-text-color);
    padding : 20px;
    font-size: 2rem;
    text-align: center;
}

.section_right{
    width : 40%;
    margin: 0 auto;
}

.couch{
    width : 100%;
    height: 100%;
    object-fit: cover;
   object-position: bottom;
   border : none;
}

.section_tagline_description{
    font-size: 1rem;
    color : var(--navbar-text-color);
    font-weight: 700;
    text-align : center;
}
.btn_buy{
    background-color : white;
    border: transparent;
    border-radius: 10px;
    font-weight: 600;
    padding : 10px;
    color : var(--navbar-bg-color);
    cursor : pointer;
}

.btn_buy_mob{
    display : none;
}

@media screen and (max-width: 550px){
    .section{
        background-color: var(--navbar-bg-color);
        display : flex;
        flex-direction: column;
        align-items : center;
        gap : 20px;
    }
    .btn_buy_mob{
        display : flex;
        background-color : white;
    border: transparent;
    border-radius: 10px;
    font-weight: 600;
    padding : 10px;
    color : var(--navbar-bg-color);
    cursor : pointer;
    margin-bottom: 10px;
    text-decoration: none;
    }

     a{
        text-decoration: none;
    }

    .btn_buy{
        display: none;
    }
}